services:
  nginx:
    image: ghcr.io/unsw-cse-comp99-3900-24t1/brainwaves-nginx:latest
    ports:
      - "${BIND_PORT}:80"

  backend:
    image: ghcr.io/unsw-cse-comp99-3900-24t1/brainwaves-backend:latest
    environment:
      DATABASE_URL: ${DATABASE_URL}
      FRONTEND_ADDRESS: ${FRONTEND_ADDRESS}
      SK_MAILGUN_API_KEY: ${SK_MAILGUN_API_KEY}

  client:
    image: ghcr.io/unsw-cse-comp99-3900-24t1/brainwaves-client:latest
