# Builds a production-ready image with minimal dependencies.
# Requires production variables to be set.

services:
  nginx:
    ports:
      - "${BIND_PORT}:80"
    build:
      context: .
      dockerfile: .dev/build/nginx.Dockerfile
    image: brainwaves-nginx:latest
    depends_on:
      - client
      - backend

  client:
    build:
      context: .
      dockerfile: .dev/build/client.Dockerfile
    image: brainwaves-client:latest

  backend:
    build:
      context: .
      dockerfile: .dev/build/backend.Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL}
      FRONTEND_ADDRESS: ${FRONTEND_ADDRESS}
      SK_MAILGUN_API_KEY: ${SK_MAILGUN_API_KEY}
    image: brainwaves-backend:latest

volumes:
  db: {}
