@tailwind base;
@tailwind components;
@tailwind utilities;

.side-nav {
  height: 100%; /* 100% Full-height */
  width: 100px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fff; /* Black*/
  border: 1px solid black;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.side-nav-link {
  padding: 8px 8px 8px 100px;
  text-decoration: none;
  font: 20px Arial;
  color: #ff6b35;
  display: flex;
  transition: 0.3s;
  white-space: nowrap;
}

.side-nav button {
  padding: 8px 8px 8px 50px;
  text-decoration: none;
  font-size: 25px;
  color: #ff6b35;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #f7c59f;
}

.side-nav-item {
  display: flex;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.side-nav-item img {
  width: 50px;
  height: 50px;
  position: fixed;
}

.side-nav-item img:hover {
  opacity: 60%;
}

.side-nav-logo {
  height: 70px;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 15px;
}

.top-nav {
  height: 130px; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fff; /* Black*/
  border: 1px solid black;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  display: flex;
}

.top-nav-logo {
  width: 350px;
  height: 100%;
  padding-top: 10px;
  padding-left: 15px;
}

.top-nav-logo img {
  margin-top: 10px;
  height: 70px;
}

#top-nav-dashboard {
  display: flex;
}

#top-nav-welcome {
  display: flex;
  flex-direction: column;
}

#top-nav-page-type {
  font: 20px Arial;
  color: #004e89;
  display: block;
  height: 50px;
  padding-top: 20px;
  padding-left: 40px;
}

#top-nav-welcome-msg {
  font: 40px Arial;
  color: #004e89;
  display: block;
  height: 80px;
  width: fit-content;
  padding-left: 40px;
  font-weight: bold;
  white-space: nowrap;
}

#top-nav-buttons {
  display: flex;
  justify-content: right;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 50px;
  position: absolute;
  right: 200px;
  top: 35px;
}

#top-nav-buttons button {
  font: 20px Arial;
  color: #fff;
  width: 150px;
  height: 40px;
  background-color: #004e89;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#top-nav-buttons button:hover {
  background-color: #808080;
  color: #efefd0;
}

#top-nav-personal {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  position: fixed;
  right: 20px;
  top: 35px;
}

#top-nav-notifications {
  width: 60px;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}

#top-nav-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

#top-nav-personal a:hover {
  opacity: 60%;
}

#top-nav-course {
  display: flex;
  align-content: center;
  justify-content: center;
}

#top-nav-course img {
  width: 75px;
  height: 75px;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

#top-nav-course p {
  font: 40px Arial;
  color: #111;
  padding-left: 15px;
  padding-top: 40px;
  font-weight: bold;
  white-space: nowrap;
}
