name: "PR Check"
on:
  pull_request:
    types:
      - opened
      - synchronize
      - edited

jobs:
  pr-check-title:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v1
      - name: PR Title Checker
        uses: thehanimo/pr-title-checker@v1.4.2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          pass_on_octokit_error: false
          configuration_path: .github/pr-title-checker-config.json
